<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="google" content="notranslate">
    <title>Acquire!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600' rel='stylesheet'
        type='text/css'>

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">

    <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="/scripts/app.js"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#eceff4"> -->

</head>

<body>
    <header>
        <h1>Acquire!</h1>
    </header>
    <main data-ng-app="acquireApp">
        <div id="players">
            <ul>
                <li class="self active">Joe</li>
                <li>Mary</li>
                <li>Welma</li>
                <li class="active">Christoff</li>
            </ul>
            <a href="/chart.html" target="_blank">Reference Chart</a>
        </div>

        <div id="playarea">
            <div id="user">
                <ul id="user-tiles" data-ng-controller="tilesCtrl">
                    <li data-ng-repeat="tile in tiles" data-ng-mouseenter="tile.onMouseIn()"
                        data-ng-mouseleave="tile.onMouseOut()">{{ tile.id }}</li>
                </ul>

                <p id="user-cash">$14,200</p>

                <ul id="user-stocks">
                    <li class="company0" title="Techno&#10;Total Value: $2400">8</li>
                    <li class="company1" title="Gizmo">2</li>
                    <li class="company2" title="Unicorn">8</li>
                    <li class="company3" title="DotCom">2</li>
                    <li class="company4" title="Avago">2</li>
                    <li class="company5" title="Leaf">2</li>
                    <li class="company6" title="Progresso">25</li>
                </ul>

                <button id="endgame">End Game</button>
            </div>

            <table id="board" data-ng-controller="boardCtrl">
                <tr data-ng-repeat="row in rows">
                    <td data-ng-repeat="square in row" id="{{ square.label }}" class="{{ square.class }}" title="{{ square.title }}">{{ square.label }}</td>
                </tr>
            </table>

            <ul id="stocks" data-ng-controller="corporationCtrl">
                <li data-ng-repeat="corporation in corporations" class="company{{ corporation.id }}">
                    <h3>{{ corporation.name }}</h3>
                    <span class="available">Available: {{ corporation.available }}</span><br>
                    <span class="price">Price: {{ corporation.price }}</span>
                </li>
            </ul>
        </div>

        <div id="console">
            <h3>Welma's turn</h3>
            <p>Placed tile 7C</p>
            <p>Bought 3 Techno stocks for $300</p>

            <h3>Christoff's turn</h3>
            <p>Placed tile 7D</p>
            <p>Formed the Progresso corporation</p>
            <p>Bought 2 Progresso stocks for $800</p>
            <p>Bought 1 Techno stock for $300</p>

            <h3>It's your turn</h3>
        </div>
    </main>

    <!-- <footer></footer> -->

</body>