<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="google" content="notranslate">
    <title>Acquire!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600' rel='stylesheet'
        type='text/css'>

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">

    <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="/scripts/app.js"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#eceff4"> -->

</head>

<body>
    <header>
        <h1>Acquire!</h1>
    </header>
    <main>
        <div data-ng-app="acquireApp">
            <div id="common">
                <table id="board" data-ng-controller="boardCtrl">
                    <tr data-ng-repeat="row in rows">
                        <td data-ng-repeat="square in row" id="{{ square.label }}" class="{{ square.class }}" title="{{ square.title }}">{{ square.label }}</td>
                    </tr>
                </table>

                <ul id="stocks" data-ng-controller="corporationCtrl">
                    <li data-ng-repeat="corporation in corporations" class="company{{ corporation.id }}">
                        <h3>{{ corporation.name }}</h3>
                        <span class="available">Available: {{ corporation.available }}</span><br>
                        <span class="price">Price: {{ corporation.price }}</span>
                    </li>
                </ul>
            </div>

            <div id="user">
                <div id="user-tiles" data-ng-controller="tilesCtrl">
                    <!-- <h2>Tiles</h2> -->
                    <div>
                        <ul>
                            <li data-ng-repeat="tile in tiles"
                                data-ng-mouseenter="tile.onMouseIn()"
                                data-ng-mouseleave="tile.onMouseOut()">{{ tile.id }}</li>
                        </ul>
                    </div>
                </div>

                <div id="user-assets">
                    <div id="user-cash">
                        <!-- <h2>Cash</h2> -->
                        <p>$14,200</p>
                    </div>

                    <div id="user-stocks">
                        <!-- <h2>Stocks</h2> -->
                        <ul>
                            <li class="company0" title="Techno&#10;Total Value: $2400">8</li>
                            <li class="company1" title="Gizmo">2</li>
                            <li class="company2" title="Unicorn">8</li>
                            <li class="company3" title="DotCom">2</li>
                            <li class="company4" title="Avago">2</li>
                            <li class="company5" title="Leaf">2</li>
                            <li class="company6" title="Progresso">25</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <!-- <footer></footer> -->

</body>